{% extends "base.html" %}

{% block content %}

<div class="full-page">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="form-container">
            <form action="" method="post" class="form bg-light p-5 rounded shadow-lg">
                {% csrf_token %}
                <fieldset class='form-group'>
                    <legend class='border-bottom mb-4 pb-2'>Reset Password</legend>

                    {{ form.as_p }}

                </fieldset>
                <button class='btn btn-primary btn-block btn-lg' type='submit'>Request Password Reset</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}

{% block extra_css %}

{% endblock %}
